registry=https://registry.npmmirror.com/
fetch-timeout=600000
fetch-retry-maxtimeout=300000
fetch-retry-mintimeout=20000
fetch-retries=10
network-concurrency=1
child-concurrency=1
shamefully-hoist=true
strict-peer-dependencies=false
